.loadImageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #97afb9;
  color: #004152 !important;
  border-radius: 4px;
  overflow: auto;
  outline: none;
  padding: 20px;
  width: 20rem;

  ul {
    background-color: #97afb9;
  }

  hr {
    border-color: #004152;
  }
}

.theme {
  color: #1ba098 !important;
}

.buttonsContainer {
  display: flex;
  justify-content: space-evenly;

  button {
    background-color: #004152;
    color: #1ba098;
  }
}
.emailform {
  margin-bottom: 1rem;
}
.addColaboratorTitle {
  text-align: center;
}
