.addColaboratorModal {
  background-color: #97afb9 !important;
  border: 1px solid #ccc;
  color: #004152 !important;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #fff;
  overflow: auto;
  border-radius: 8px;
  outline: none;
  padding: 20px;
  width: 20rem;
}

.table .MuiPaper-root {
  color: #1ba098 !important;
  background-color: #004152 !important;
}
