.addColaboratorModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 20rem;
}

.MuiTableCell-head {
  color: #1ba098 !important;
  background-color: #004152 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: #004152 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #004152 !important;
}
